@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&family=Grand+Hotel&display=swap');

:root {
  /* color palette */
  --cyber-grape: #49306bff;
  --cyber-grape-2: #635380ff;
  --mountbatten-pink: #90708cff;
  --celadon: #ace4aaff;
  --almond: #e1cdb5ff;
  --text-brand: #FF6666;
  --bg-brand: #FF6666;
  --link-text: #fff;
  --text-gray: rgb(106, 106, 106);


  /* Font Families */
  --body-text: 'Dosis', sans-serif;
  --h1-ff: 'Grand Hotel', cursive;
}

/* Global
------------------------------------*/
img {
  width: 300px;
}

*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: var(--body-text);
  font-size: 1.2rem;
  line-height: 1.5;
}

h1 {
  font-family: var(--h1-ff);
  font-weight: 400;
  font-size: 3rem;
}

h4 {
  font-size: 1.5rem;
}

h1, h2, h3 {
  color: var(--cyber-grape);
}

a {
  margin-top: 1em;
  color: var(--link-text);
  display: inline-block;
  padding: 0.3em 1em;
  border-radius: 1rem;
  background-color: var(--bg-brand);
}

a:hover {
  background-color: var(--cyber-grape);
  color: var(--link-text);
  transition: background-color ease-out 1s;
}

.container {
  margin: 0 auto;
  width: 90vw;
  max-width: 1170px;
  padding: 1em 0;
  overflow: hidden;
}

.highlights {
  text-align: center;
}

.highlights h4 {
  color: var(--text-brand);
}

.highlights p {
  margin: 0 auto;
  width: 50%;
  color: var(--text-gray);
  font-size: 0.9em;
  padding-bottom: 1em;
}

.highlights img {
  width: 50px;
  animation: car linear 3s infinite alternate;
}

@keyframes car {
  to {transform: translateX(-300%);}
  from {transform: translateX(300%);}
}

.socials img{
  width: 25px;
}

.socials img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* delete this styles after completed the project */
.bg-test1 {
  background: lime;
}

.bg-test2 {
  background: lightseagreen;
}

.bg-test3 {
  background: lightgray;
}

/* Navigation bar
------------------------------------*/
nav {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav .brand {
  font-size: 2.5rem;
  color: #FF6666;
  font-weight: 900;
}

nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

nav ul li a {
  color: var(--cyber-grape);
  display: block;
  transform: scale(1,1);
  background-color: #fff;
  margin: 0 .1em;
}

nav ul li a:hover {
  background: var(--mountbatten-pink);
  color: var(--link-text);
  transform: scale(1,1.1);
  transition: transform ease-out 250ms;
}


/* Header
------------------------------------*/
header {
  position: relative;
  z-index: -3;
}

#header-bg {
  position: absolute;
  z-index: -2;
}

/* Header background animation START*/
#ball {
  animation: rotating 1s linear 250ms infinite reverse;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes rotating {
  0% {transform: translateY(0%,0%);}
  50% {transform: translateY(30%,40%);}
  100% {transform: translateY(50%,80%);}
}


#girl {
  animation: girl-move 1s linear 250ms infinite alternate;
}

@keyframes girl-move {
  to {transform: translateY(0%);}
  from {transform: translateY(5%);}
}

#boy {
  animation: boy-move 1s linear 500ms infinite alternate;
}

@keyframes boy-move {
  to {transform: translateY(0%);}
  from {transform: translateY(5%);}
}

#leafs {
  animation: leafs-move 1s linear 500ms infinite alternate;
}

@keyframes leafs-move {
  to {transform: translateX(0%);}
  from {transform: translateX(1%);}
}

#orranges {
  animation: orranges-smove 1s linear 500ms infinite alternate;
}

@keyframes orranges-smove {
  to {transform: skewX(0%);}
  from {transform: skewX(3deg);}
}
/* Header background animation END*/

.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  height: 750px;
}

.hero-left {
  margin: 0 auto;
  line-height: 1.6;
  max-width: 500px;
  padding: 1em;
  overflow: hidden;
  background: rgba(224, 192, 192, 0.7);
  border-radius: .5em;
}

.hero-left h1 {
  font-size: 4em;
  line-height: 1.1;
  margin-bottom: .2em;
}  

.hero-right {
  position: relative;
}

.hero-right img {
  position: relative;
  height: 480px;
  width: 100%;
  display: block;
  z-index: -1;
  border-radius: .5em;
}

.hero-right .img-bg {
  height: 480px;
  width: 100%;
  background: linear-gradient(18deg, #49728D, #A4AAA5);
  position: absolute;
  top: 2em;
  left: 2em;
  z-index: -2;
  border-radius: .5em;
}


/* Why us? section
------------------------------------*/
#why-us {
  margin: 2em 0;
}

.features-wrapper {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1em;
}

.card-body {
  margin: 1em 0;
  text-align: center;
  width: 14.3em;
  overflow: hidden;
  border: none;
  padding: 1em;
  border-radius: 1em;
  transition: transform 500ms;
}

.card-body:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.card-body p {
  font-size: 0.9em;
  text-align: justify;
  margin-bottom: 0.4em;
}

.card-body img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  transition: transform 500ms;
}

.card-body:hover img {
  transform: scaleX(-1);
}

.features-wrapper div:nth-child(1) {
  background: #FF6666;
  box-shadow: 0px 10px 0px 0px #df4a4a;
}

.features-wrapper div:nth-child(2) {
  background: #FFC000;
  box-shadow: 0px 10px 0px 0px #cc9901;
}

.features-wrapper div:nth-child(3) {
  background: #ABCD52;
  box-shadow: 0px 10px 0px 0px #79a900;
}

.features-wrapper div:nth-child(4) {
  background: #1AB9FF;
  box-shadow: 0px 10px 0px 0px #0181b8;
}

/* Enrollment 
-----------------------------------*/
.enrollment {
  margin: 2em 0;
  padding: 2em 0;
  background: var(--mountbatten-pink);
  color: #fff;
}

.enrollment h1 {
  color: #fff;
}

.enrollment-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


/* Goals Section
-----------------------------------*/
#goals {
  margin: 2em 0;
}

.goals-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  color: var(--text-gray);
  
}

.goal-left {
  width: 25em;
  height: 100%;
}

.goal-left img {
  width: 100%;
  animation: image-move 3s linear 500ms infinite alternate;
}

@keyframes image-move {
  to {transform: translateX(0%);}
  from {transform: translateX(10%);}
}

.goals-right {
  width: 25em;
  text-align: justify;
  padding-right: 1em;
}

.vision-mission-right h2 {
  font-size: 1.5em;
  font-weight: 900;
}

.vision-and-mission {
  display: flex;
  flex-wrap: wrap;
}

.vision, .mission  {
  margin-top: .8em;
}

/* Programs Section
-----------------------------------*/
#programs {
  margin: 2em 0;
}

.programs-wrapper {
  display: flex;
  background: #d0bbaa3a;
}

.programs-left {
  position: relative;
  width: 900px;
  height: 600px;
}

.programs-left img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.programs-right {
  width: 50em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}

.programs-right img {
  width: 4em;
  margin-right: 1em;
}

.programs-right .program-body {
  width: 20em;
  display: flex;
  align-items: center;
}

.program-body h4 {
  color: var(--text-brand);
}

.program-body h4:hover {
  color: var(--cyber-grape);
  cursor: pointer;
}

/* Classes Section
-----------------------------------*/
#classes {
  margin: 2em 0;
}

.classes-wrapper  {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 2rem 1rem;
  color: var(--text-gray);
}

.classes-card-body {
  width: 18em;
  overflow: hidden;
  border-radius: 1.5em;
  text-align: center;
  box-shadow: 3px 8px 5px 0px rgba(143,133,133,0.75);
  transition: transform ease-in 250ms;
}

.classes-card-body:hover {
  transform: rotate(2deg);
  cursor: pointer;
}

.classes-card-body img{
  width: 100%;
}

.classes-card-body>p {
  margin-bottom: .5em;
}

.classes-card-footer {
  margin: 0 auto;
  border-top: 1px solid rgba(128, 128, 128, 0.28);
  width: 80%;
  display: flex;
  justify-content: space-around;
  padding: .5em 0 1em 0;
}

.classes-card-footer p {
  font-size: .8em;
}

.classes-card-footer .values {
  color: var(--text-brand);
  font-weight: bolder;
}

/* Review Section
-----------------------------------*/
#reviews {
  margin: 1em 0;
}

.review-wrapper {
  margin: 2em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.review-card {
  width: 30rem;
  transition: transform ease-in 500ms;
}

.review-card:hover {
  transform: translateY(-10%);
  cursor: pointer;
}

.review-card p {
  margin-top: .5em;
  font-style: italic;
  color: var(--text-gray);
  font-size: .9em;
}

.parents {
  display: flex;
  align-items: center;
  gap: .8em;
}

.parents figure {
  width: 100px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-brand);
  overflow: hidden;
  position: relative;
}

.parents img{
  width: 100%;
  border-radius: 50%;
  position: relative;
  bottom: -10px;
}

.parents h4 {
  color: var(--cyber-grape);
}

/* Our Teachers Section  
-----------------------------------*/
#teachers {
  margin: 1em 0;
}

.teachers-profiles {
  margin-top: 1em;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profile-wrapper {
  padding: 1.2em 0;
  width: 18em;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0px 2px 10px 6px rgba(153,153,153,0.75);
  transition: transform ease-in 250ms;
}

.profile-wrapper:hover {
  cursor: pointer;
  transform: translateY(-5%);
}

.profile-wrapper p {
  color: var(--text-gray);
}

.profile-wrapper .socials {
  margin-top: .7em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.teacher-image {
  position: relative;
}

.teacher-image::after {
  content: "";
  width: 100%;
  height: 100px;
  border-bottom: 15px dotted #fff;
  stroke-width: 5;
  display: block;
  position: absolute;
  bottom: -.5%;
}



/* Contact Section / Footer 
-----------------------------------*/
#contacts {
  background: var(--cyber-grape);
  color: #fff;
  padding-top: 1.5rem;
}

footer h1 {
  color: #fff;
}

footer h2 {
  color: #fff;
}

.footer-nav {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;

}

.brand h1 {
  margin-top: -.3em;
  margin-bottom: .5em;
}

.brand .socials {
  margin-top: 1em;
  display: flex;
  gap: 1em;
}

.contact-us img {
  display: inline;
  width: 25px;
}

.contact-option {
  display: flex;
  gap: .8rem;
  align-items: center;
  margin-top: 1rem;
}

.activities li {
  list-style-type:'>';
  color: var(--text-brand);
}

.activities a {
  background: none;
  margin-top: .5em;
}

.activities a:hover {
  color: var(--text-brand);
}

.copyright {
  font-size: .8em;
  text-align: center;
}

.newsletter p {
  margin-top: 1em;
  font-size: .8em;
}

.newsletter input {
  margin-top: 1em;
  width: 100%;
  padding: 1em;
  border-radius: 1em;
}

.copyright span {
  color: var(--text-brand);
}
/* Making it Responsive 
-----------------------------------*/

@media screen and (max-width: 556px) {
  nav {
    position: relative;
  }

  .hero {
    display: block;
    height: 600px;
    }

  .hero-right {
    display: none;
  }

  #header-bg {
    position: relative;
  }

  .enrollment-content h1 {
    line-height: 1.3;
  }

  .goals-content {
    display: block;
  }

  .goal-left img{
    width: 20em;
    animation: image-move 3s linear 500ms infinite alternate;
  }
  
  @keyframes image-move {
    to {transform: rotate(0deg);}
    from {transform: rotate(10deg);}
  }

  .goals-right {
    margin-top: 1em;
    width: 20em;
  }

  .vision-mission-right h2 {
    margin-top: 1em;
  }

  .programs-left {
    display: none;
  }

  .programs-right {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    font-size: .8em;
  }

  .program-body h4 {
    font-size: 1.3em;
  }

  .program-body {
    margin: .5em auto;
  }

  .classes-card-body {
    margin-top: 1rem;
    transform: scale(.9);
  }

  .review-card {
    margin-top: 2em;
  }

  .profile-wrapper {
    transform: scale(.9);
  }

  .footer-nav {
    grid-template-columns: 1fr
  }
}

@media screen and (min-width: 557px) and (max-width: 878px) {

  nav .brand {
    margin: 0 auto;
  }

  .hero {
    height: 500px;
    display: block;
  }

  .hero-right {
    display: none;
  }

  .programs-left {
    display: none;
  }
}