@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&family=Grand+Hotel&display=swap');

/* Font Families 
font-family: 'Dosis', sans-serif; // for paragraph text
font-family: 'Grand Hotel', cursive; // for header text

_____________________________________
Colors
--cyber-grape: #49306bff;
--cyber-grape-2: #635380ff;
--mountbatten-pink: #90708cff;
--celadon: #ace4aaff;
--almond: #e1cdb5ff;
------------------------------------*/


/* Global
------------------------------------*/
img {
  width: 300px;
}

*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}



