@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* Colors
--cyber-grape: #49306bff;
--cyber-grape-2: #635380ff;
--mountbatten-pink: #90708cff;
--celadon: #ace4aaff;
--almond: #e1cdb5ff;
------------------------------------*/